<div [ngSwitch]="status$">

    <div *ngSwitchCase="'LOADING'">
        <img 
        src="assets/ring.svg" alt="loading">
    </div>

    <div *ngSwitchCase="'ERROR'">
        ERROR {{ error$.status }}
        <p>{{ error$.name }}</p>
        <p *ngIf="error$.status == 401">
            <h5>Please, Sign In.</h5>
    </div>

    <div *ngSwitchCase="'COMPLETE'">
        <h3>Airport {{ airport$.airportId }}</h3>
        <h4>Country: {{ airport$.country }}</h4>
        <h4>City: {{ airport$.city }}</h4>
        <div *ngIf="auth.isAuthenticated()">
            <app-google-maps [lat]="airport$.latitude" [lng]="airport$.longitude"></app-google-maps>
        </div>
        <div *ngIf="!auth.isAuthenticated()">
            Please, sign in to see the google map :)
        </div>
    </div>

</div>
