<h1>Passengers</h1>

<ng-container
  *ngIf="passengers$; then list; else loading">
</ng-container>

<ng-template #list>
  <div>
  <span>
  <app-pagination [page]="passengers$.page" 
                  [links]="passengers$._links" ></app-pagination>
  </span>
  <span>
  <app-sizing [page]="passengers$.page"></app-sizing>
  </span>
  </div>
  <ul class="list-group list-group-flush">
  <li class="list-group-item"
  *ngFor="let passenger of passengers$._embedded.passengers">
  {{passenger.firstname}} {{passenger.lastname}}
  </li>
  </ul>
</ng-template>


<ng-template #loading>
  <img 
  *ngIf="auth.isAuthenticated() && !err$"
   src="assets/ring.svg" alt="loading">
   <span *ngIf="!auth.isAuthenticated()" (click)="auth.login()"> Please Log in. </span>
   <span *ngIf="err$ && auth.isAuthenticated() "> Sorry, smth went wrong. </span>

</ng-template>