<h1>Passengers</h1>

<ng-container
  *ngIf="passengers$; then list; else loading">
</ng-container>

<ng-template #list>
  <div>
  <span>
  <app-pagination [page]="passengers$.page" 
                  [links]="passengers$._links" ></app-pagination>
  </span>
  <span>
  <app-sizing [page]="passengers$.page"></app-sizing>
  </span>
  </div>
  <ul class="list-group list-group-flush">

  <li class="list-group-item"
  *ngFor="let passenger of passengers$._embedded.passengers">

  <ng-container
  *ngIf="editing$ === passenger.passengerId; then edit; else normalShow">
  </ng-container>

    <ng-template #normalShow>
    <ng-container
    *ngIf="editedPassengersMap$.has(passenger.passengerId); then saved; else notEditedYet">
    </ng-container>

      <ng-template #saved>
      {{ editedPassengersMap$.get(passenger.passengerId).firstName }}
      {{ editedPassengersMap$.get(passenger.passengerId).lastName }}
      <button class="btn btn-light" 
      (click)="showEditInputs(passenger.passengerId)">Edit</button>
      </ng-template>

      <ng-template #notEditedYet>
      {{passenger.firstname}} {{passenger.lastname}} <button class="btn btn-light" 
      (click)="showEditInputs(passenger.passengerId)">Edit</button>
      </ng-template>

  </ng-template>

  <ng-template #edit>

    <ng-container
    *ngIf="editedPassengersMap$.has(passenger.passengerId); then saved; else notEditedYet">
    </ng-container>

      <ng-template #saved>
      <input #firstName value="{{ editedPassengersMap$.get(passenger.passengerId).firstName }}">
      <input #lastName value="{{ editedPassengersMap$.get(passenger.passengerId).lastName }}"> 
      <button class="btn btn-danger" (click)="exitFromEditing()">Cancel</button>
      <button class="btn btn-primary" (click)="confirmEdit(passenger.passengerId, firstName.value, lastName.value)">Send</button>
      </ng-template>

      <ng-template #notEditedYet>
      <input #firstName value="{{passenger.firstname}}"> <input #lastName value="{{passenger.lastname}}"> 
      <button class="btn btn-danger" (click)="exitFromEditing()">Cancel</button>
      <button class="btn btn-primary" (click)="confirmEdit(passenger.passengerId, firstName.value, lastName.value)">Send</button>
      </ng-template>

  </ng-template>

  </li>
  </ul>
</ng-template>


<ng-template #loading>
  <img 
  *ngIf="!err$"
   src="assets/ring.svg" alt="loading">
   <span *ngIf="!auth.isAuthenticated()" (click)="auth.login()"> Please Log in. </span>
   <span *ngIf="err$ && auth.isAuthenticated() "> Sorry, smth went wrong. </span>

</ng-template>