<h1>airports</h1>

<ng-container
  *ngIf="airports$; then content; else info">
</ng-container>

<ng-template #content>
  <div>
  <span>
  <app-pagination [page]="airports$.page" [links]="airports$._links" ></app-pagination>
  </span>
  <span>
  <app-sizing [page]="airports$.page"></app-sizing>
  </span>
  </div>
  <ul class="list-group list-group-flush">
  <li class="list-group-item"
  *ngFor="let airp of airports$._embedded.airports">
  {{airp.airportId}} {{airp.city}} {{airp.country}} {{airp.latidute}} {{airp.longitude}}
  </li>
  </ul>
</ng-template>


<ng-template #info>

  <ng-container
  *ngIf="!err$; then loading; else error">
  </ng-container>

  <ng-template #loading>
    <img 
    src="assets/ring.svg" alt="loading">
  </ng-template>

  <ng-template #error>
   <span *ngIf="err$.status == 401" (click)="auth.login()"> Please Log in. </span>
   <span *ngIf="err$.status != 401" > Sorry, smth went wrong. </span>
  </ng-template>

</ng-template>
