<nav aria-label="...">
  <ul class="pagination pagination-sm">
    <span *ngFor="let number of sizes">
    <li *ngIf="number != page.size; else current" class="page-item">
      <a class="page-link" [routerLink]="passengers" [queryParams]="{size:number}" tabindex="-1">
        {{number}}
      </a>
    </li>
    <ng-template #current>
      <li class="page-item disabled">
        <a class="page-link" [routerLink]="passengers" [queryParams]="{size:number}" tabindex="-1">
          {{number}}
        </a>
      </li>
    </ng-template>
    </span>
  </ul>
</nav>
